img{
 height: 50%;
 width: 50%;
}
.Logo img{
    height: 15vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3e9f1;
}
h1{
    font-family: Cambria, Cochin, Georgia;
    font-weight:900;
    
}
.container{
    display: flex;
    justify-content: center;
}
.d-flex{
    margin: 1em;  
    border-radius: 1em;
    max-width: 70vh;
    height: 50%;
    width: 50%;
    }
#Bears{
    background-color: rgb(236, 205, 236);
    border-radius: 2em;
    margin: 2em;
    
}

